

@import url('https://fonts.googleapis.com/css2?family=K2D&family=Mitr&family=Qwitcher+Grypen&display=swap');
*{
  
font-family: 'Mitr', sans-serif;


}
a{
    text-decoration: none;
  
  }

  body{
    overflow: hidden;
  }
hr{
    border: 1px solid #999999;
    margin: -1px 0;
}

.layoutcontainner{
  display: flex;
}

.layoutside{

  flex : 0 0 30vh;
  transition: all 0.3s ease-in-out;


}
.layoutside__mini
{
  transition: all 0.3s ease-in-out;
  flex: 0 0 10vh;
 
}

.layoutcontainner__main{

  display: flex;
  flex: 1;
  flex-direction: column;


}
.layoutnav
{
  flex: 0 0 10vh;
}

.layoutcontainner__content{

  flex: 1;
  padding: 0px 50px 0 50px; ;

}

.horizontal-slider {
  
  width: 100%;
  height: 50px;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 14px;
}
/* slider ประเมินราคาหน้าRlist ในmodal */

.horizontal-slider .example-track {
  background-color: #cccccc;
  height: 5px;
  border-radius: 10px;
  

}
.example-track.example-track-1 {

  background-color:#9625f3;

}

.horizontal-slider .example-thumb {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: white;
  border: 3px solid #9625f3;
  
}
.example-thumb:active {
  background-color: #9625f3;
  width: 30px;
  height: 30px;
}
.correct-status {
  color: green; /* สีเขียวสำหรับสถานะถูกต้อง */
}

.incorrect-status {
  color: red; /* สีแดงสำหรับสถานะผิด */
}

@import 'bootstrap/dist/css/bootstrap.min.css';


.customInput::-webkit-inner-spin-button,
.customInput::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
  display: none;
}




.swiper {
  border-radius: 10px;
  width: 100%;
  height: 300px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  border-radius: 10px;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.autoplay-progress {
  position: absolute;
  right: 16px;
  bottom: 16px;
  z-index: 10;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: var(--swiper-theme-color);
}

.autoplay-progress svg {
  --progress: 0;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  stroke-width: 4px;
  stroke: var(--swiper-theme-color);
  fill: none;
  stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  transform: rotate(-90deg);
}



.over-flow{
  overflow: auto;
  height: 100vh;
  
}



.loading {
  margin-top: 40px;
   top: 0;
   left: 0;
   justify-content: center;
   display: flex;
   position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 1;
  transition: all 0.3s ease-in-out;

   transition: opacity 0.75s, visibility 0.75s;
 }
 
 .loading--hidden {
   opacity: 0;
   visibility: hidden;
 }
 
 .loading::after {
   content: "";
   width: 80px;
   height: 80px;
   border: 10px solid #dddd;
   border-top-color: #9625f3;
   border-radius: 50%;
   animation: loading 0.75s ease infinite;
 }
 
 @keyframes loading {
   from {
     transform: rotate(0turn);
   }
   to {
     transform: rotate(1turn);
   }
 }
 
 .numberincart
 {
  position: absolute;
  background-color: orange;
  font-size: 12px;
  color: white;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  top: -5px;
  left: 1px;

 }
 .boxnumbercart
 {
  position: relative;

 }