
a{
    text-decoration: none;
  
  }

  body{
    overflow: auto;
  }
hr{
    border: 1px solid #999999;
    margin: -1px 0;
}

.layoutcontainner{
  display: flex;
}

.layoutside{
  flex : 0 0 250px;
  transition: all 0.3s ease-in-out;

}
.layoutside__mini
{
  flex : 0 0 60px;
}

.layoutcontainner__main{
  display: flex;
  flex: 1;
  padding: 20px;
  flex-direction: column;

}
.layoutnav
{
  flex: 0 0 50px;
}

.layoutcontainner__content{
  flex: 1;
  padding: 20px;
}

.horizontal-slider {
  
  width: 100%;
  height: 50px;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 14px;
}
/* slider ประเมินราคาหน้าRlist ในmodal */

.horizontal-slider .example-track {
  background-color: #cccccc;
  height: 5px;
  border-radius: 10px;
  

}
.example-track.example-track-1 {

  background-color:#9625f3;

}

.horizontal-slider .example-thumb {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: white;
  border: 3px solid #9625f3;
  
}
.example-thumb:active {
  background-color: #9625f3;
  width: 30px;
  height: 30px;
}
.correct-status {
  color: green; /* สีเขียวสำหรับสถานะถูกต้อง */
}

.incorrect-status {
  color: red; /* สีแดงสำหรับสถานะผิด */
}

@import 'bootstrap/dist/css/bootstrap.min.css';


.customInput::-webkit-inner-spin-button,
.customInput::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
  display: none;
}