.reTitle{
 font-size: 18px;
    font-weight: bold;
    color: #000;
    
}
.resubTitle
{
    font-size: 16px;
    font-weight: 400;
    color: #474747;
    margin-top: -2px;
    margin-left: 10px;
   
    text-align: start;
   
}
.reheadansTitle{
    font-size: 20px;
    font-weight: bolder;
    color: #000000;
    margin-top: -2px;
    text-align: center;
    margin-bottom: 10px;
}

.over{
    overflow: auto;
}

.reBox{

    border-right: 2px solid #d4d4d4;
  
}
.reForm{
    border: #d4d4d4 1px solid;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    margin-bottom: 10px;

}

.problem{
    word-wrap: break-word;
    font-size: 18px;
    display: flex;
    border: 1px solid #d4d4d4;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 5px;
    padding: 5px; 
}

.reForm:focus{
    border:1px solid #000000;
    padding-top: 10px;
    padding-left: 20px;
    border-radius: 5px;
    box-shadow:0px 3px 0.5px 0px #474747;
}

.reproblem
{
    word-wrap: break-word;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;

    margin-left: -80px;
}

.reAns{
    max-width: 100%;
    min-width: 20%;
    word-wrap: break-word;
    border: #d4d4d4 1px solid;
    padding: 5px;
    border-radius: 5px;

}
.icon{

    margin-bottom: 10px;
    padding: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: #d4d4d4 1px solid;
    color: #1f7df8;

}

.hr{
    margin-bottom: 10px;
    width: 50%;
}


/* sell*/

.sellForm{
    margin-top: 20px;
    border: #d4d4d4 1px solid;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    margin-bottom: 10px;

    background-color: #ffffff;
}



.sellImg{
    max-width: 100%;
    max-height: 100%;
    border-radius: 5px;
    border: #d4d4d4 1px solid;
}

.sellBox{
 
    
    flex-direction: column;
    text-align: center;
    
    word-wrap: break-word;
}

.sellIcon{
    width: 20px;
    height: 20px;
    color: #1f7df8;
    cursor: pointer;
}

.sellIcon:hover{
    color: #000000;
}

.sellviewBox{
    border: #d4d4d4 1px solid;
    padding: 20px;
    border-radius: 5px;

    max-width:100%;
    min-width: 50%;
    background-color: #ffffff;
    flex-direction: column;
    word-wrap: break-word;
    white-space: pre-wrap ;
    max-height: 40%;
}

.sellinfo
{ 
    word-wrap: break-word;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 400;
    color: #474747;
    text-align: start;
}
.sellinfo1{
    border: #d4d4d4 1px solid;
    border-radius: 5px;
    word-wrap: break-word;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 400;
    color: #474747;
    text-align: start;
}

@keyframes truck 
{
    0%{
        transform: translateX(0px);
    }
   
    100%{
        transform: translateX(20px);
    }
}
.truck{
    animation: truck 4s infinite;
    transition: all 0.3s ease-in-out;
}

.imgpayment
{
    padding: 10px;
    height: 500px;
    max-width: none;
    width: auto;
    object-fit: cover;
    border-radius: 5px;
    border: #bebebe 1px dashed;
}

.upInput{
    display: none;
}

.customFileUpload
{
    font-size: 20px;
    padding: 20px;
    width: 80%;
    height: 100px;
    text-align: center;
    color: #474747;
    border: #bebebe 1px dashed;
    border-radius: 10px;
    cursor: pointer;
}
.customFileUpload:hover{
    font-size: 20px;
    padding: 20px;
    width: 80%;
    height: 100px;
    text-align: center;
    color: #474747;
    border: #bebebe 1px dashed;
    border-radius: 10px;
    background-color: #e4e4e4;
}


.boxprice{
    border-radius: 5px;
    border: #bebebe 1px dashed;
}




.imgprice
{
    margin-top: 10px;
    padding: 10px;
    height: 400px;
    min-width: 200px;
    max-width: 400px;
    width: auto;
    object-fit: cover;
    border-radius: 5px;
    border: #bebebe 1px dashed;

}

.textpayment{
    font-size: 18px;
    font-weight: 600;
    font-style:  italic;
    color: #00aeff;
}

.textnotice{
    font-size: 15px;
    font-weight: 300;
    font-style:  italic;
    color: #919191;
}