.ContainMarket {
  width: 100%;
  height: 100%;
  
}

.Cardimg
{
     width: 18rem;
    height: 18rem;
}
.Card
{
    width: 18rem;
    height: 30rem;
   
    overflow: hidden;

    border-radius: 2px;
    transition: all 0.3s ease-in-out;
    margin-bottom: 30px;
}
.Cardfooter
{
    background-color: #ffffff;
    border-top: none;
}
.Cardimgover
{   
    position: relative;
    width: 18rem;
    height: 20rem;
    overflow: hidden;

}

.Card:hover
{
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
.Cardbody
{
  height: 10rem;
  text-align: center;
}

.textdetail
{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 20ch; /* จำกัดให้มีไม่เกิน 10 ตัวอักษร */
}
.Colmiddle
{
    justify-content: center;
    align-content: center;
    display: flex;
}