.Conrec
{
    height: 70vh;
    width: 100%;
    display: flex;
    background-color: white;
padding: 20px;

}
.backgound
{
    background-color: #dbdbdb;
    min-height: 100vh; /* ให้พื้นหลังมีความสูงอย่างน้อยเท่ากับความสูงของหน้าจอ */
    display: flex;
    justify-content: center; /* จัดเรียงแนวนอนตรงกลาง */
    align-items: center; /* จัดเรียงแนวตั้งตรงกลาง */
  
}

.Formrec
{
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    
    border: 1px solid #d4d4d4;
}

.imgrec{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: 1px solid #d4d4d4;
}

